%link(rel="stylesheet" href="/stylesheets/codemirror/codemirror.css")
- ['default', 'elegant', 'neat', 'night', 'solarized'].each do |theme|
  %link(rel="stylesheet" href="/stylesheets/codemirror/theme/#{theme}.css")

%script(type="text/javascript" src="/javascripts/codemirror/lib/codemirror.js")
- ['clike', 'haskell', 'javascript', 'lua', 'perl', 'php', 'python', 'ruby', 'scheme', 'smalltalk', 'vb'].each do |mode|
  %script(type="text/javascript" src="/javascripts/codemirror/mode/#{mode}/#{mode}.js")

- ['service', 'codeEditor', 'combobox', 'languageSelect', 'themeSelect', 'compileButton',
  'dialogBase', 'consoleDialog', 'openDialog', 'saveDialog'].each do |file|
  %script(type="text/javascript" src="/javascripts/#{file}.js")

%script(type="text/javascript" src="/javascripts/edit.js")

- unless @code_snippet.nil?
  :javascript
    $(document).ready(function() {
      selectLanguage("#{@code_snippet.language}");
      displaySnippetInfo("#{@code_snippet.id}", #{@code_snippet.version});
    });

%body
  #header
    %h1 <a href="/"><span>Cloud</span>Develop</a>
    .clear
  
  #navigation
    .inner-navigation
      %ul.collaborators-list
        %li collaborating:
        - @collaboration.contributors.each do |contributor|
          %li= contributor
  
  #wrap
    - unless @alert.nil?
      #alert= @alert
    #content
      %form
        #toolbar-area
          %label(for="language-select") Language
          %select#language-select(name="language-select")
            %option(value="c") C
            %option(value="cpp") C++
            %option(value="cs") C#
            %option(value="haskell") Haskell
            %option(value="java") Java
            %option(value="javascript") JavaScript
            %option(value="lua") Lua
            %option(value="perl") Perl
            %option(value="php") PHP
            %option(value="python") Python
            %option(value="ruby") Ruby
            %option(value="scheme") Scheme
            %option(value="smalltalk") Smalltalk
            %option(value="vb") Visual Basic
          %label(for="theme-select") Theme
          %select#theme-select(name="theme-select")
            %option(value="default" selected="selected") Default
            %option(value="elegant") Elegant
            %option(value="neat") Neat
            %option(value="night") Night
            %option(value="solarized") Solarized
        
        %textarea#code-editor(name="code-editor")= @code_snippet ? @code_snippet.latest : ""
      
      #button-area
        %button#compile-button(name="compile-button") Compile
        
      .clear

  #console-dialog(title="Console")
    .loading-container
      .loading
        %img(src="/images/loading.gif")
        Compiling...
    .content-container
      .info
      %pre.output
  
  / This is totally a hack. Whatever.
  %input#pusher-api-key(type="hidden" value="#{ENV["PUSHER_API_KEY"]}")
  
  .footer
    %p
      CloudDevelop uses
      <a href="http://jquery.com/">jQuery</a>,
      <a href="http://codemirror.net/">CodeMirror</a>,
      <a href="http://http://pusher.com/">Pusher</a>, and
      <a href="http://ideone.com">ideone.com</a> &copy; by <a href="http://sphere-research.com">Sphere Research Labs</a>.
      Site developed by <a href="http://philosopherdeveloper.wordpress.com/">Daniel Tao</a>
      (<a href="https://github.com/dtao">dtao</a>).