- modes = '"' + %w{clike clojure haskell groovy javascript lua perl php python ruby scheme smalltalk vb}.map { |mode| "/javascripts/codemirror/mode/#{mode}/#{mode}.js" }.join('", "') + '"'
- extra_files = '"' + %w{service codeEditor combobox languageSelect themeSelect compileButton dialogBase consoleDialog throttle}.map { |file| "/javascripts/#{file}.js" }.join('", "') + '"'

!!! 5
%html
  %head
    %title CloudDevelop

    %link(rel="stylesheet" href="/stylesheets/clouddevelop.css")
    %link(rel="stylesheet" href="/stylesheets/codemirror/codemirror.css")
    - %w{default cobalt eclipse elegant monokai neat night solarized}.each do |theme|
      %link(rel="stylesheet" href="/stylesheets/codemirror/theme/#{theme}.css")

    %link(rel="stylesheet" href="/stylesheets/jquery/jquery-ui.min.css")
    %link(rel="stylesheet" href="/stylesheets/extra_styles.css")
    
    %script(type="text/javascript" src="/javascripts/head.js/head.load-0.96.min.js")
    %script(type="text/javascript" src="http://mobwrite3.appspot.com/static/compressed_form.js")
    %script(type="text/javascript" src="/javascripts/mobwrite.monkeypatch.js")

    :javascript
      // Is this the right way to do this?
      // It doesn't feel right, but I don't even know.
      var clouddevelop = {};

      mobwrite.debug = false;
      mobwrite.syncGateway = 'http://mobwrite3.appspot.com/scripts/q.py';
      
      head.js(
        "/javascripts/codemirror/lib/codemirror.js",
        #{modes},
        "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js",
        "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js",
        "http://js.pusherapp.com/1.9/pusher.min.js",
        function() {
          head.js(
            #{extra_files},
            "/javascripts/edit.js",
            function() {
              $('#blocker').remove();
              $('#everything').show();
            }
          );
        }
      );

  %body
    #blocker
      %table
        %tr
          %td
            %img(src="/images/loading-bar.gif")
            %br
            Loading CloudDevelop...
    
    #everything(style="display: none;")
      #header
        %h1 <a href="/"><span>Cloud</span>Develop</a>
        #link
          %p
            %a(href="/#{@collaboration.id}") Link to this session
        .clear
      
      #collaboration-control
        .inner-collaboration-control
          %ul.contributor-list
            %li.left-most Contributors:
            - @collaboration.contributors.each do |contributor|
              - if contributor == @contributor
                %li.current= contributor
              - else
                %li= contributor
      
      #wrap
        - unless @alert.nil?
          #alert= @alert
        #content
          %form
            #toolbar-area
              %label(for="language-select") Language
              %select#language-select(name="language-select")
                - languages.each do |language|
                  %option(value="#{language.key}")= "#{language.name}"
              %label(for="theme-select") Theme
              %select#theme-select(name="theme-select")
                %option(value="default" selected="selected") Default
                %option(value="cobalt") Cobalt
                %option(value="eclipse") Eclipse
                %option(value="elegant") Elegant
                %option(value="monokai") Monokai
                %option(value="neat") Neat
                %option(value="night") Night
                %option(value="solarized") Solarized
            
            %textarea#code-editor(name="code-editor")= @collaboration.content
          
          #button-area
            %button#compile-button(name="compile-button") Compile
            %button#gist-button(name="gist-button") Gist
            
          .clear

      #console-dialog(title="Console")
        .loading-container
          .loading
            %img(src="/images/loading.gif")
            %br
            Compiling...
        .content-container
          .info
          %pre.output
      
      #gist-dialog(title="Create Gist")
        %label(for="github-user") GitHub Name
        %br
        %input#gist-name(type="text" name="github-user")
        %br
        %label(for="github-password") GitHub Password
        %br
        %input#gist-name(type="password" name="github-password")
        %br
        %label(for="gist-name") Name
        %br
        %input#gist-name(type="text" name="gist-name")
        %br
        %label(for="gist-description") Description (optional)
        %br
        %input#gist-description(type="text" name="gist-description")
      
      / This is my horrible solution to getting values into JavaScript.
      / It is totally a hack. Probably could use rjs or something. To that I say:
      / Whatever.
      %input#pusher-api-key(type="hidden" value="#{ENV["PUSHER_API_KEY"]}")
      %input#collaboration-id(type="hidden" value="#{@collaboration.id}")
      %input#current-language(type="hidden" value="#{@collaboration.language}")
      %input#contributor(type="hidden" value="#{@contributor}")
      
      .footer
        %p
          CloudDevelop uses
          <a href="http://jquery.com/">jQuery</a>,
          <a href="http://codemirror.net/">CodeMirror</a>,
          <a href="http://code.google.com/p/google-mobwrite/">MobWrite</a>,
          <a href="http://pusher.com/">Pusher</a>,
          <a href="http://mongoid.org/">Mongoid</a>, and
          <a href="http://ideone.com">ideone.com</a> &copy; by <a href="http://sphere-research.com">Sphere Research Labs</a>.
          Site developed by <a href="http://philosopherdeveloper.wordpress.com/">Daniel Tao</a>
          (<a href="https://github.com/dtao">dtao</a>).
      
      / .notifications