<%= form_for(@code_snippet) do |f| %>
  <% if @code_snippet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@code_snippet.errors.count, "error") %> prohibited this code_snippet from being saved:</h2>

      <ul>
      <% @code_snippet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :snippet %><br />
    <%= f.text_field :snippet %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
