<% content_for :head_stuff do %>
<%= stylesheet_link_tag "jquery/themes/base/jquery.ui.all" %>
<%= javascript_include_tag "jquery/jquery-1.6.2" %>
<%= javascript_include_tag "jquery/ui/jquery-ui" %>

<%= stylesheet_link_tag "codemirror/codemirror" %>
<%
  ['default', 'elegant', 'neat', 'night', 'solarized'].each do |theme|
    %><%= stylesheet_link_tag "codemirror/theme/#{theme}" %><%
  end
%>

<%= javascript_include_tag "codemirror/lib/codemirror" %>
<%
  ['clike', 'haskell', 'javascript', 'lua', 'perl', 'php', 'python', 'ruby', 'scheme', 'smalltalk'].each do |mode|
    %><%= javascript_include_tag "codemirror/mode/#{mode}/#{mode}" %><%
  end
%>

<%
  ['service', 'codeEditor', 'combobox', 'languageSelect', 'themeSelect', 'compileButton',
    'dialogBase', 'consoleDialog', 'openDialog', 'saveDialog'].each do |file|
    %><%= javascript_include_tag file %><%
  end
%>

<%
  @menu_items = ['new', 'open', 'save']
%>

<!-- jQuery styles -->
<style type="text/css">
  .ui-button { margin-left: -1px; }
  .ui-button-icon-only .ui-button-text { padding: 0.35em; } 
  .ui-autocomplete-input { margin-right: 0; padding: 0.48em 0 0.47em 0.45em; }
</style>

<!-- CodeMirror styles -->
<style type="text/css">
  .CodeMirror {
    border: 1px solid #eee;
  }
  .CodeMirror-scroll {
    font-family: Consolas, Inconsolata, monospace;
    height: auto;
    min-height: 300px;
    overflow-y: hidden;
    overflow-x: auto;
  }
</style>

<script type="text/javascript"><!--
  function displaySnippetInfo(id, codeSnippet) {
    var $fileInfoBox = $("#file-info-box").empty();
    if (codeSnippet) {
      $fileInfoBox.append($("<p>").text("Snippet Id: " + id + ", version #" + codeSnippet.version));
    }
  }

  $(document).ready(function() {
    var codeEditor = clouddevelop.codeEditor($("#code-editor")),
      languageSelect = clouddevelop.languageSelect($("#language-select")),
      themeSelect = clouddevelop.themeSelect($("#theme-select")),
      consoleDialog = clouddevelop.consoleDialog($("#console-dialog")),
      compileButton = clouddevelop.compileButton($("#compile-button"), codeEditor, languageSelect, consoleDialog),
      openDialog = clouddevelop.openDialog($("#open-dialog")),
      saveDialog = clouddevelop.saveDialog($("#save-dialog")),
      currentSnippetId = null;
    
    languageSelect.onSelectedLanguageChanged(function(language, mode) {
      codeEditor.setMode(mode);
    });

    themeSelect.onSelectedThemeChanged(function(theme) {
      codeEditor.setTheme(theme);
    });

    openDialog.onSnippetLoaded(function(id, codeSnippet) {
      currentSnippetId = id;
      codeEditor.loadCodeSnippet(codeSnippet);
      if (codeSnippet.language) {
        languageSelect.selectLanguage(codeSnippet.language);
      }
      displaySnippetInfo(id, codeSnippet);
    });

    saveDialog.onSnippetSaved(function(id, codeSnippet) {
      currentSnippetId = id;
      displaySnippetInfo(id, codeSnippet);
    });

    $("#new-menu-item").click(function() {
      currentSnippetId = null;
      displaySnippetInfo(null);
      codeEditor.clear();
    });

    $("#open-menu-item").click(function() {
      openDialog.clear();
      openDialog.shrink();
      openDialog.reveal();
      openDialog.show();
    });

    $("#save-menu-item").click(function() {
      var code = codeEditor.getValue(),
        language = languageSelect.selectedLanguage();
      
      if (code === "") {
        return;
      }
      
      if (currentSnippetId) {
        saveDialog.update(currentSnippetId, code);
      } else {
        saveDialog.save(code, language);
      }
    });

    <% unless @code_snippet.nil? || @code_snippet.language.nil? %>
    languageSelect.selectLanguage("<%= @code_snippet.language %>");
    <% end %>
  });
--></script>
<% end %>

<form>
  <div id="toolbar-area">
    <label for="language-select">Language</label>
    <select name="language-select" id="language-select">
      <option value="c">C</option>
      <option value="cpp">C++</option>
      <option value="cs">C#</option>
      <option value="haskell">Haskell</option>
      <option value="java">Java</option>
      <option value="javascript">JavaScript</option>
      <option value="lua">Lua</option>
      <option value="perl">Perl</option>
      <option value="php">PHP</option>
      <option value="python">Python</option>
      <option value="ruby">Ruby</option>
      <option value="scheme">Scheme</option>
      <option value="smalltalk">Smalltalk</option>
    </select>
    
    <label for="theme-select">Theme</label>
    <select name="theme-select" id="theme-select">
      <option value="default" selected="selected">Default</option>
      <option value="elegant">Elegant</option>
      <option value="neat">Neat</option>
      <option value="night">Night</option>
      <option value="solarized">Solarized</option>
    </select>
  </div>

  <textarea name="code-editor" id="code-editor"><%= @code_snippet ? @code_snippet.snippet : "" %></textarea>
</form>

<div id="button-area">
  <button name="compile-button" id="compile-button">Compile</button>
</div>

<% content_for :foot_stuff do %>
<div id="console-dialog" title="Console">
  <div class="loading-container">
    <div class="loading">
      <%= image_tag("loading.gif") %><br />
      Compiling...
    </div>
  </div>
  <div class="content-container">
    <div class="info"></div>
    <pre class="output"></pre>
  </div>
</div>

<div id="open-dialog" title="Open Snippet">
  <div class="loading-container">
    <div class="loading">
      <%= image_tag("loading.gif") %><br />
      Loading...
    </div>
  </div>
  <div class="content-container">
    <div class="info"></div>
    <form>
      <label for="snippet-id">Enter a snippet Id:</label>
      <input name="snipped-id" class="snippet-id" type="text"></input>
    </form>
  </div>
</div>

<div id="save-dialog" title="Save Snippet">
  <div class="loading-container">
    <div class="loading">
      <%= image_tag("loading.gif") %><br />
      Saving...
    </div>
  </div>
  <div class="content-container">
    <div class="info"></div>
  </div>
</div>
<% end %>