<h1>Listing code_snippets</h1>

<table>
  <tr>
    <th>Snippet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @code_snippets.each do |code_snippet| %>
  <tr>
    <td><%= code_snippet.snippet %></td>
    <td><%= link_to 'Show', code_snippet %></td>
    <td><%= link_to 'Edit', edit_code_snippet_path(code_snippet) %></td>
    <td><%= link_to 'Destroy', code_snippet, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Code snippet', new_code_snippet_path %>
