- content_for :stylesheets do
  = stylesheet("sass/challenge")

.challenge
  %h1= @challenge.label

  %h2.creator
    = gravatar(current_user)
    = "Posted by #{@challenge.user.name}"

  .description= markdown(@challenge.description)
