!!!
%head
  %title CloudDevelop
  = stylesheet("css/codemirror")
  = stylesheet("sass/application")
  = javascript("javascript/codemirror-2.34")
  = javascript("javascript/codemirror/mode/#{@language.key}")
  = javascript("javascript/jquery-1.8.2")
  = javascript("coffeescript/application")

  :javascript
    CloudDevelop.init();

%body
  .header
    %h1 Cloud<span>Develop</span>

  .menu
    %ul
      %li Languages:
      - Language.all.each do |language|
        - if language == @language
          %li.selected= language.name
        - else
          %li= "<a href=\"/#{language.key}\">#{language.name}</a>"

  .editor
    = haml(:editor, :locals => { :id => "source-editor", :mode => @language.mode, :content => @source || @language.snippets[:source] })

  .result
    = haml(:editor, :locals => { :id => "spec-editor", :mode => @language.mode, :content => @spec || @language.snippets[:spec] })

  .buttons
    %a#compile(href="javascript:void(0);")= @language.verb
    %a#save(href="javascript:void(0);") Save

  .footer
    %p CloudDevelop maintained by <a href="http://philosopherdeveloper.wordpress.com">Daniel Tao</a>.
