- content_for :stylesheets do
  = stylesheet("css/codemirror")

- content_for :javascript do
  = javascript("javascript/codemirror-2.34")
  = javascript("javascript/codemirror/mode/#{@language.key}")
  = javascript("coffeescript/index")

  :javascript
    CloudDevelop.init("#{@language.key}");

.editor
  = haml(:editor, :locals => { :id => "source-editor", :mode => @language.mode, :content => @source || @language.snippets[:source] })

.result
  = haml(:editor, :locals => { :id => "spec-editor", :mode => @language.mode, :content => @spec || @language.snippets[:spec] })

.buttons
  %a#clear(href="javascript:void(0);") Clear
  %a#compile(href="javascript:void(0);")= @language.verb
  %a#save(href="javascript:void(0);") Save
