- content_for :stylesheets do
  = stylesheet("css/codemirror")
  = stylesheet("sass/index")

- content_for :javascript do
  = javascript("javascript/codemirror-2.34")
  = javascript("javascript/codemirror/mode/#{@language.file}")
  = javascript("coffeescript/index")

  :javascript
    CloudDevelop.init("#{@language.key}");

- if @post
  %input#token(type="hidden" value="#{@post.token}")

.languages
  %ul
    %li Choose a language:
    - Language.each do |language|
      - if language == @language
        %li.selected= language.name
      - else
        %li= "<a href=\"/mode/#{language.key}\">#{language.name}</a>"

.editor
  = haml(:editor, :locals => { :id => "source-editor", :mode => @language.mode, :content => @source || @language.snippets[:source] })

.result
  - if @post && @post.output
    %pre.console= @post.output
  - elsif @spec
    = haml(:editor, :locals => { :id => "spec-editor", :mode => @language.mode, :content => @spec })
  - else
    = haml(:editor, :locals => { :id => "spec-editor", :mode => @language.mode, :content => @language.snippets[:spec], :caption => @language.snippets[:instructions] })

.buttons
  %a#clear(href="javascript:void(0);") Clear
  %a#compile(href="javascript:void(0);")= @language.verb
  %a#save(href="javascript:void(0);") Save
