- content_for :stylesheets do
  = stylesheet("css/codemirror")
  = stylesheet("sass/index")

- content_for :javascript do
  = javascript("javascript/codemirror-2.34")
  = javascript("javascript/codemirror/mode/#{@language.file}")
  = javascript("coffeescript/index")

  :javascript
    CloudDevelop.init("#{@language.key}");

- if @post
  %input#token(type="hidden" value="#{@post.token}")

.languages
  %ul
    %li Choose a language:
    - Language.each do |language|
      - if language == @language
        %li.selected= language.name
      - else
        %li= "<a href=\"/mode/#{language.key}\">#{language.name}</a>"

.editor
  = haml(:editor, :locals => { :id => "source-editor", :mode => @language.mode, :content => @source || @language.snippets[:source] })

.result
  - if @post && @post.output
    %pre.console= @post.output
  - elsif !@language.engine.uses_specs?
    %pre.console
    - if @language.snippets[:instructions]
      .caption
        = empty_link("&times;", :class => "dismiss")
        = @language.snippets[:instructions]
  - elsif @spec
    = haml(:editor, :locals => { :id => "spec-editor", :mode => @language.mode, :content => @spec })
  - else
    = haml(:editor, :locals => { :id => "spec-editor", :mode => @language.mode, :content => @language.snippets[:spec], :caption => @language.snippets[:instructions] })

.label
  %input#label-input(name="label" placeholder="Add a label" value="#{@post ? @post.label : ''}")

.buttons
  = empty_link("Clear", :id => "clear")
  = empty_link(@language.verb, :id => "compile")
  = empty_link(@post ? "Update" : "Save", :id => "save", :class => (@post && @post.user != current_user) ? "disabled" : "")
