!!!
%head
  %title CloudDevelop

  %link(rel="shortcut icon" href="/favicon.ico?v=#{Time.now.to_i}")

  = stylesheet("sass/application")
  = yield_content :stylesheets

  = javascript("javascript/jquery-1.8.2")
  = javascript("coffeescript/application")
  = yield_content :javascript

  = javascript("javascript/google-analytics")

%body
  - if flash[:notice]
    #flash(class="#{flash[:style] || 'notice'}")
      = empty_link("&times;", :class => "dismiss")
      = flash[:notice]

  .header
    %h1 <a href="/">Cloud<span>Develop</span></a>

  = haml :menu, :layout => false

  .content
    = yield

  - if @instructions
    #instructions
      .overlay
      .text
        = empty_link("&times;", :class => "dismiss")
        = @instructions

  .footer
    %p CloudDevelop maintained by <a href="http://philosopherdeveloper.wordpress.com">Daniel Tao</a>.

  / Hack to make browsers load this image before it's time to show it.
  = image("loading.gif", :class => "off-screen")
