.menu
  %ul
    - if logged_in?
      %li.status= "Logged in as #{current_user.name}"
      %li.home <a href="/">Home</a>
      %li.posts <a href="/posts">Posts</a>
      %li.logout <a href="/logout">Log out</a>
    - else
      %li.status Not logged in
      %li.login <a href="/auth/github">Log in through GitHub</a>

    - if post_belongs_to_someone_else?(@post)
      %li.owner= "Viewing post '#{@post.identifier}' by <a href=\"/posts/#{@post.user.id}\">#{@post.user.name}</a>"
