- content_for :stylesheets do
  = stylesheet("sass/new")

- unless logged_in?
  - content_for :instructions do
    %p Welcome to **CloudDevelop**, an online code editor and testing environment.
    %p Currently the following features are supported:
    %ul
      %li Side-by-side spec mode using Jasmine (JavaScript and CoffeeScript), RSpec (Ruby), and JUnit (Java)
      %li Server-side compilation/execution of C++, Python, C#, and Visual Basic .NET
    %p More is on the way, so check back often!
    %p If you have any questions, feel free to <a href="mailto:daniel.tao@gmail.com">e-mail me</a>!

.languages
  %h1 Choose a language
  %ul
    - Language.each do |language|
      %li(class="#{language.key}")
        %a(href="/new/#{language.key}")
          .icon= language.shorthand
          .name= language.name
