- content_for :stylesheets do
  = stylesheet("sass/posts")

%table.posts
  %tr
    %th Created
    %th Token
    %th Label
    %th Snippet

  - @posts.each do |post|
    %tr
      %td.created_at= short_date_format(post.created_at)
      %td.token= "<a href=\"#{post.token}\">#{post.token}</a>"
      %td.label= post.label
      %td.snippet= post.snippet
