- content_for :stylesheets do
  = stylesheet("sass/posts")

- content_for :javascript do
  = javascript("coffeescript/posts")

- if @user
  %h1= "Posts by #{@user.name}"
- else
  %h1 Posts

%table.posts
  %tr
    %th Created
    %th Label
    %th Token
    %th Language
    %th Snippet
    %th Actions

  - @posts.each do |post|
    %tr(data-token="#{post.token}")
      %td.created_at= short_date_format(post.created_at)
      %td.label= "<a href=\"#{post.token}\">#{post.label}</a>"
      %td.token= "<a href=\"#{post.token}\">#{post.token}</a>"
      %td.language= post.language.name
      %td.snippet= post.snippet
      %td.delete= empty_link("Delete")
