<html xmlns="http://www.w3.org/1999/xhtml">
    
<head>

<title>CloudDevelop</title>

<%= stylesheet_link_tag "style" %>

<%= yield :head_stuff %>

</head>

<body>

<div id="header">
    <h1><a href="/"><span>Cloud</span>Develop</a></h1>
    <div class="clear"></div>
</div>

<div id="navigation">
    <div class="inner-navigation">
        <ul>
            <% unless @menu_items.nil? %>
            <% @menu_items.each do |menu_item| %>
            <li><a href="javascript:void(0);"><%= menu_item %></a></li>
            <% end %>
            <% end %>
        </ul>
    </div>
</div>
    
<div id="wrap">
    
    <div id="content">
        
        <%= yield %>

        <div class="clear"></div>
    </div>
    
</div>

<%= yield :foot_stuff %>

<div class="footer">
    <p>CloudDevelop uses
		<a href="http://jquery.com/">jQuery</a>,
		<a href="http://codemirror.net/">CodeMirror</a>, and
		<a href="http://ideone.com">ideone.com</a> &copy; by <a href="http://sphere-research.com">Sphere Research Labs</a>.
		The site is developed by <a href="http://philosopherdeveloper.wordpress.com/">Daniel Tao</a>.</p>
</div>

</body>

</html>